body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
}

a {
	text-decoration: none;
	outline: 0;
}

.container {
	background-color: #fff;
	background-image: url("../img/polygon.svg"),
	url("../img/index-background-photo.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: 1200px 508px, auto;
	/*Положение "polygon.svg" задано временно*/
	background-position: left 79%, 0% 0%;
}

/*Паддинги для "img" заданы временно*/
.main-content img {
	padding-top: 76px;
	padding-bottom: 79px;
}

.main-header,
.features,
.hotels,
.main-footer {
	background-color: #fff;
}
.liststyle-reset {
	list-style: none;
}

.black-bold {
	font-weight: 700;
	color: #000;
}

.interactive-styles:active {
	opacity: 0.3;
} 

a.interactive-styles:hover,
a.interactive-styles:focus {
	color: #81b3d2;
}

.hotel-title:active,
.btn:active::before {
	opacity: 0.3;
}


.here {
	color: #766357;
}

.features .black-bold,
.hotel-title {
	font-size: 21px;
}

.hotels .black-bold {
	font-size: 30px;
	line-height: 36px;
}

.modal-search-btn {
	font-size: 21px;
	color: #fff;

	background-color: #766357;
}

.modal-search-btn:focus,
.modal-search-btn:hover {
	background-color: #604e43;
}

.modal-search-btn:active {
	background-color: #503e33;
}


.modal {
	display: none;
}

.hotel-title:hover,
.hotel-title:focus
 {
	color: #81b3d2;
}

.hotel-search-list {
	line-height: 21px;
}

.hotel-title {
	line-height: 26px;
}

.rating {
	background-color: #f2f2f2;
}

.detail-btn {
	background-color: #81b3d2;
	color: #fff;
}

.detail-btn:hover,
.detail-btn:focus {
	background-color: #669ec0;
}

.detail-btn:active {
	background-color: #5496bd;
}

.book-btn {
	background-color: #766357;
	color: #fff;
}

.book-btn:hover,
.book-btn:focus {
	background-color: #604e43;
}

.book-btn:active {
	background-color: #503e33;
}

.main-footer .black-bold {
	font-size: 21px;
}

.btn {
	background-color: #81b3d2;
}

.btn:focus,
.btn:hover {
	background-color: #669ec0;
}

.btn:active {
	background-color: #5496bd;
}

.social-btn-tw::before {
	content:"";

	width: 20px;
	height: 16px;

	background-image: url("../img/t-icon.svg");
	background-repeat: no-repeat;

	display: inline-block;
}


.social-btn-vk::before {
	content:"";

	width: 20px;
	height: 16px;

	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;

	display: inline-block;
}

.social-btn-yout::before {
	content:"";

	width: 20px;
	height: 16px;

	background-image: url("../img/yout-icon.svg");
	background-repeat: no-repeat;

	display: inline-block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.copyright-logo::before {
	content:"";

	width: 115px;
	height: 41px;

	background-image: url("../img/HtmlA-logo-condition-1.svg");
	background-repeat: no-repeat;

	display: inline-block;
}

.copyright-logo:hover::before,
.copyright-logo:focus::before {
	background-image: url("../img/HtmlA-logo-condition-2.svg");
}

.copyright-logo:active::before {
	background-image: url("../img/HtmlA-logo-condition-3.svg");
}