body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	color: #333;
	background-color: #fff;
	overflow-y: scroll;
}

a {
	text-decoration: none;
	outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.index-page-container {
	background-image: url("../img/polygon.svg"),
	url("../img/index-background-photo.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: 1200px 508px, auto;
	background-position: left 282px, 0% 0%;

	width: 1200px;

	margin: 0 auto;
}

.catalog-page-container {
	width: 1200px;

	margin: 0 auto;
}

.main-header,
.features,
.hotels,
.main-footer {
	background-color: #fff;
} 

.liststyle-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.black-bold {
	font-weight: 700;
	color: #000;
}

.interactive-styles:active,
.hotels-modal-btn:active .interactive-styles,
.hotel-detail-btn:active .interactive-styles,
.hotel-book-btn:active .interactive-styles {
	opacity: 0.3;
} 

a.interactive-styles:hover,
a.interactive-styles:focus {
	color: #81b3d2;
}

.main-navigation {
	position: relative;
}

.main-navigation-logo {
	width: 140px;
	height: 71px;

	position: absolute;
	left: 50%;
	margin-left: -70px;
}

.main-navigation-menu  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1087px;
	margin: 0 58px;
}

.main-navigation-menu-item {
	padding: 15px 15px;
}

.main-navigation-menu-item:nth-child(2) {
	margin-left: 117px;
}

.main-navigation-menu-item:nth-child(3) {
	margin-left: 359px;
}

.main-navigation-menu-item:last-child {
	margin-left: auto;
}

.main-content {
	margin-bottom: 25px;
}

.welcome-image {
	width: 459px;
	height: 353px;
	margin-top: 76px;
	margin-left: 370px;
	margin-bottom: 71px; 
}

.features,
.hotels {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}

.features-about-sedona {
	padding: 58px 300px 15px 300px;

	text-align: center;
}

.features-five-reasons {
	margin-bottom: 40px;
}

.hotels-interesting {
	padding: 35px 300px 10px 300px;
}

.hotels-better-hotels {
	padding: 0 300px 32px 300px;
	text-align: center;

	line-height: 24px;
}

.hotel-title:active,
.footer-btn:active::before {
	opacity: 0.3;
}


.here {
	color: #766357;
}

.features .black-bold,
.hotel-title {
	font-size: 21px;
}

.hotels .black-bold {
	font-size: 30px;
	line-height: 36px;
}

.hotels-modal-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	font-size: 21px;
	color: #fff;

	background-color: #766357;
	padding: 30px 138px;

	margin: 0 auto;
}

.hotels-modal-btn:focus,
.hotels-modal-btn:hover {
	background-color: #604e43;
}

.hotels-modal-btn:active {
	background-color: #503e33;
}

.hotels-modal {
	display: none;
}

.hotel-title:hover,
.hotel-title:focus
 {
	color: #81b3d2;
}

.hotel-search-list {
	line-height: 21px;
}

.hotel-search-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.hotel-search-item {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 30px;
	margin-top: -1px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
}

.hotel-container {
	width: 1056px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.hotel-main-information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 259px;
	height: 90px;
	margin-left: 30px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-line-pack: justify;
	    align-content: space-between;
}

.hotel-type-price-block,
.hotel-detail-book-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hotel-detail-book-block {
	width: 259px;
}

.hotel-type-price-block {
	width: 260px;
}

.hotel-title {
	line-height: 12px;
}

.hotel-price {
	margin-right: 78px;
	margin-left: auto;
}

.hotel-rating {
	background-color: #f2f2f2;
	margin-left: auto;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	padding: 4px 14px;
	text-align: center;
	padding-top: 2px;
}

.hotel-page-link {
	line-height: 0;
}

.hotel-detail-btn {
	background-color: #81b3d2;
	color: #fff;
	padding: 4px 17px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;		
}

.hotel-detail-btn:hover,
.hotel-detail-btn:focus {
	background-color: #669ec0;
}

.hotel-detail-btn:active {
	background-color: #5496bd;
}

.hotel-book-btn {
	background-color: #766357;
	color: #fff;
	margin-left: 5px;
	padding: 4px 17px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
}

.hotel-book-btn:hover,
.hotel-book-btn:focus {
	background-color: #604e43;
}

.hotel-book-btn:active {
	background-color: #503e33;
}

.main-footer .black-bold {
	font-size: 21px;
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;

	width: 968px;

	margin-left: 133px;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 150px;
	margin-left: 28px;
}

.footer-btn {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}

.footer-btn:focus,
.footer-btn:hover {
	background-color: #669ec0;
}

.footer-btn:active {
	background-color: #5496bd;
}

.footer-social-btn-tw::before {
	content:"";

	width: 17px;
	height: 15px;

	background-image: url("../img/t-icon.svg");
	background-repeat: no-repeat;
}


.footer-social-btn-f::before {
	content:"";

	width: 12px;
	height: 22px;

	background-image: url("../img/f-icon.svg");
	background-repeat: no-repeat;

	display: inline-block;
}

.footer-social-btn-yout::before {
	content:"";

	width: 20px;
	height: 16px;

	background-image: url("../img/yout-icon.svg");
	background-repeat: no-repeat;

	display: inline-block;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 194px;
}

.footer-copyright-by {
	margin-bottom: 40px;
}

.footer-copyright-logo::before {
	content:"";

	width: 115px;
	height: 41px;

	background-image: url("../img/HtmlA-logo-condition-1.svg");
	background-repeat: no-repeat;

	display: inline-block;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 196px;
}

.footer-copyright-by {
	margin-top: 10px;
}

.footer-copyright-logo:hover::before,
.footer-copyright-logo:focus::before {
	background-image: url("../img/HtmlA-logo-condition-2.svg");
}

.footer-copyright-logo:active::before {
	background-image: url("../img/HtmlA-logo-condition-3.svg");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}